.DS_Store

.cursorignore
.cursorindexingignore
.idea/
**/.vscode/**
!web/.vscode/extensions.json
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?

logs/
*.log


# [root]
.env
.bak/
LOG_*.md


# api
api/.venv*/
api/**/__pycache__/
api/**/*.py[co]
api/**/*$py.class


# db / nginx


# web
web/**/npm-debug.log*
web/**/yarn-debug.log*
web/**/yarn-error.log*
web/**/pnpm-debug.log*
web/**/lerna-debug.log*

web/**/node_modules
web/dist
web/dist-ssr
web/coverage
web/**/*.local




