.DS_Store

.cursorignore
.cursorindexingignore
.idea/
**/.vscode/**
!web/.vscode/extensions.json
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?

logs/
*.log


# [root]
.env
.bak/
LOG_*.md


# api
api/.venv*/
api/**/__pycache__/
api/**/*.py[co]
api/**/*$py.class


# db / nginx


# web/hugo


# web/vue3
web/vue3/**/npm-debug.log*
web/vue3/**/yarn-debug.log*
web/vue3/**/yarn-error.log*
web/vue3/**/pnpm-debug.log*
web/vue3/**/lerna-debug.log*

web/vue3/**/node_modules
web/vue3/**/dist
web/vue3/**/dist-ssr
web/vue3/**/coverage
web/vue3/**/*.local




